h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.jumbotron {
  color:navy;
  background-color:lightgray;
  margin: 30px;
  border: 5px solid navy;
  padding: 10px;
}

#questions {
  background-color: lightgray;
  margin: 50px;
  border: 5px solid navy;
  padding: 20px;
}

.radio {
  text-align: center;
}

.form-group {
  text-align: center;
}