h2 {
  background-color: white;
  border: 2px solid darkgray;
}

.jumbotron {
  color:navy;
  background-color:lightgray;
  margin: 30px;
  border: 5px solid navy;
  padding: 10px;
}

#questions {
  background-color: lightgray;
  margin: 50px;
  border: 5px solid navy;
  padding: 20px;
}

.btn {
  background-color:navy;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 29px;
}

body {
  padding: 40px 200px;
  padding-bottom: 80px;
  text-align: center;
}